body {
    font-family: 'Poppins', sans-serif;
		margin: 2% 8% 2% 8%;
}
* {
	box-sizing: border-box;
}
/* -------- HEADER -------- */
h1 {
	font-family: 'PT Serif', serif;
	font-size: 36px;
	font-weight: 700;
	width: 350px;
	height: 120px;
	margin-right:0 %;
}
h2 {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	width: 150px;
	height: 27px;
	text-transform: uppercase;
}
.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
		justify-content: center;
}
.grid-item{
	justify-content: center;
	margin-left: 10%;
}
.description {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	width: 439px;
	height: 87px;

}
/* -------- MAIN BODY -------- */
.grid-container-2 {
	margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
	margin-left: 1%;
	justify-content: center;
}

.grid-item-2 {
	width: 100%;
  height: 95%;
	position: relative;
}

.card-component-2 {
	margin-top: 40%;
}

.card-component-5 {
	margin-top: 40%;
}
.headshot {
	height: 350px;
	width: 250px;
}

.name{
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
}

.role {
	font-family: 'PT Serif', serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	text-transform: uppercase;
	transform-origin: 0 0;
	transform: rotate(90deg) translate(-410px, -280px);  
}
/* -------- FOOTER -------- */

footer {
	color:#A9A9A9;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
footer a {
	text-decoration: none;
	color:#A9A9A9;
	font-weight: 700;
	text-decoration: underline;
}

/* --------- MEDIA QUERIES ----- */
@media screen and (max-width: 376px){
	body {
    font-family: 'Poppins', sans-serif;
		margin: 2% 0%;
}
/* -------- HEADER -------- */
h1 {
	font-family: 'PT Serif', serif;
	font-size: 36px;
	font-weight: 700;
	width: 278px;
	height: 47px;
	letter-spacing: -0.045em;
}
h2 {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	width: 117px;
	height: 27px;
	text-transform: uppercase;
}
.grid-container-1 {
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	justify-content: center;
}
	.grid-container-2 {
		margin-top: 5%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 140px);
		grid-column-gap: 50px;
	}
	.grid-item-2 {
		margin-left: 15%;
	}
	.headshot {
		height: 193px;
		width: 138px;
	}
	.name{
		font-size: 14px;
		line-height: 21px;
	}
	.role {
		font-size: 10px;
		line-height: 13px;
		transform: rotate(90deg) translate(-250px, -155px);
	}
	.card-component-4 {
		margin-top: 40%;
	}
	
	.card-component-5 {
		margin-top: 0%;
	}
	.card-component-6 {
		margin-top: 40%;
	}
}

@media screen and (max-width: 1084px){
	.grid-container-2 {
		margin-left: 0%;
	}

	.card-component-4 {
		margin-top: 40%;
	}
	
	.card-component-5 {
		margin-top: 0%;
	}
	.card-component-6 {
		margin-top: 40%;
	}
}

@media screen and (min-width: 1441px){
	.card-component-4 {
		margin-top: 40%;
	}

	.card-component-4 {
		margin-top: 40%;
	}
	
	.card-component-5 {
		margin-top: 0%;
	}
	.card-component-6 {
		margin-top: 40%;
	}
}